In [13]:
%matplotlib inline
import matplotlib.pyplot as plt
import pyreadr
import pandas as pd
import numpy as np

In [35]:
# https://gist.github.com/LeiG/8094753a6cc7907c716f?permalink_comment_id=2795790#gistcomment-2795790
df = pyreadr.read_r('../data/Nurhayu2020/full_pedigree_for_Table_1.RData')['fl2']
print(df.shape)
df.head()

(11933, 6)

,famille,animal,sex,Idfather,Idmother,handedness
rownames,,,,,,
2,1_bajawa,1_bajawamother2,F,NaN,NaN,0.0
3,1_bajawa,1_bajawafather,M,NaN,NaN,0.0
4,1_bajawa,1_bajawamother,F,NaN,NaN,0.0
5,1_bajawa,1_bajawas1,M,1_bajawafather,1_bajawamother,0.0
6,1_bajawa,1_bajawas2,M,1_bajawafather,1_bajawamother,0.0

In [29]:
mock = pyreadr.read_r('../data/Nurhayu2020/mock_individuals.RData')['mock_individuals'].values
mock = [x[0] for x in mock]

In [36]:
mock_idx = df['animal'].isin(mock)
df = df[~mock_idx]
df.shape

(11753, 6)

In [37]:
df.dropna().shape

(8731, 6)