In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pyreadr
import pandas as pd
import numpy as np

In [83]:
# https://gist.github.com/LeiG/8094753a6cc7907c716f?permalink_comment_id=2795790#gistcomment-2795790
fl2 = pyreadr.read_r('../data/Nurhayu2020/full_pedigree_for_Table_1.RData')['fl2']
print(fl2.shape)
fl2.head()

(11933, 6)

,famille,animal,sex,Idfather,Idmother,handedness
rownames,,,,,,
2,1_bajawa,1_bajawamother2,F,NaN,NaN,0.0
3,1_bajawa,1_bajawafather,M,NaN,NaN,0.0
4,1_bajawa,1_bajawamother,F,NaN,NaN,0.0
5,1_bajawa,1_bajawas1,M,1_bajawafather,1_bajawamother,0.0
6,1_bajawa,1_bajawas2,M,1_bajawafather,1_bajawamother,0.0

In [84]:
Allego = pyreadr.read_r('../data/Nurhayu2020/ego_individuals.RData')['Allego']
print(Allego.shape)

(700, 6)

In [102]:
mock_individuals = pyreadr.read_r('../data/Nurhayu2020/mock_individuals.RData')['mock_individuals']['mock_individuals']
print(mock_individuals.shape)
mock_individuals.head()

(180,)

0    115_wangkafatherwife
1    115_wangkamotherwife
2              104_wruto1
3              104_wrutO2
4              204_nruti1
Name: mock_individuals, dtype: object

In [86]:
print("Ego:")
print("n={}, f={:.3f}".format(Allego.shape[0], Allego['handedness'].dropna().mean()))

Ego:
n=700, f=0.146

In [106]:
fami = fl2['famille'].unique()

IDEgofather = []
IDEgomother = []
for i in range(len(fami)):
    fami_idx = fl2['famille'] == fami[i]
#     print('fami', fami[i])
    ped = fl2[fami_idx]
    ped_idx = ped['animal'].isin(Allego['animal'])
    IDego = ped.loc[ped_idx, 'animal']
#     print('ego', IDego)
    localfather = ped.loc[ped['animal'].isin(IDego), 'Idfather']
    localmother = ped.loc[ped['animal'].isin(IDego), 'Idmother']
#     print('father', localfather)
#     print('mother', localmother)
    IDEgofather.extend(localfather.values)
    IDEgomother.extend(localmother.values)

In [107]:
father = set(IDEgofather)
print(len(father))
mother = set(IDEgomother)
print(len(mother))

683
683

In [108]:
fathers = fl2[fl2['animal'].isin(father)]
mothers = fl2[fl2['animal'].isin(mother)]

fathers = fathers[~fathers['animal'].isin(mock_individuals)]
mothers = mothers[~mothers['animal'].isin(mock_individuals)]
parents = pd.concat([fathers, mothers])
mother_father = parents['animal']

In [109]:
print("Parents:")
print("n={}, f={:.3f}".format(parents.shape[0], parents['handedness'].dropna().mean()))

Parents:
n=1352, f=0.063